.full-info-courier {
    background-color: rgb(243, 243, 255);
    width: 100%;
    height: 100% ;
    display:none;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
}

.full-info-courier.active {
    display: block;
}