.new-courier-body {
    display: flex;
}

.new-courier-clm {
    width: 25%;
}

.new-courier-line {
    display: block;
    height: 65px;
}

.new-courier-line__description {
    font-size: 14px;
    color: rgb(62, 97, 97);
}

.new-courier-line__error {
    font-size: 13px;
    color: rgb(159, 37, 37);
    margin: 0px;
}

.new-courier-line__error p {
    margin: 0px;
}

.new-courier-clm select {
    width: 120px;
}

.success-msg {
    color: rgb(12, 147, 102);
}

.new-courier-header .close-btn {
    color: blue;   
}

.new-courier-header {
    text-align: right;
}